<section id="inicio">
    <app-landing-navbar></app-landing-navbar>
    <app-hero></app-hero>
</section>

<section id="funciones">
    <app-features-section></app-features-section>
</section>

<section id="como-funciona">
    <app-how-it-works></app-how-it-works>
</section>

<section id="testimonios">
    <app-review></app-review>
</section>

<section id="descargar">
    <app-download-section></app-download-section>
</section>

<section id="faq">
    <app-faq-section></app-faq-section>
</section>

<section id="contacto">
    <app-contact-section></app-contact-section>
</section>

<section id="footer">
    <app-footer-section></app-footer-section>
</section>