 <div class="container-hero">

        <!-- CONTENIDO -->
        <div class="container-information">

            <div class="container-texts">

                <div class="container-text-main">
                    <h1 class="text-banner">
                        Tu seguridad,
                        <br>
                        <span>nuestra prioridad</span>
                    </h1>
                </div>

                <div class="container-text-second">
                    <p>
                        Alerta Mujer es la app que te acompaña y protege en todo momento.
                        Envía alertas, comparte tu ubicación y recibe apoyo de tus
                        contactos de confianza.
                    </p>
                </div>

                <div class="container-buttons">

                    <button class="comenzar-btn">
                        Comenzar ahora
                    </button>

                    <button class="conocer-btn">
                        Conocer más
                    </button>

                </div>

                <div class="container-stats">

                    <div class="img-stats">
                        <img src="mujerTWO.png" alt="Mujer">
                    </div>

                    <p>
                        +5000 mujeres ya confían en
                        <b>Alerta Mujer</b>
                    </p>

                </div>

            </div>

        </div>

    </div>