<div class="container-contacts">

    <div class="text-contacts">
        <h1>Contáctanos</h1>
        <p>Estamos aquí para ayudarte</p>
    </div>

    <div class="container-content">

        <!-- ================= FORMULARIO ================= -->

        <div class="form">
            <div class="text-form">
                <h1> Formulario </h1>
            </div>
            <form>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Nombre completo">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input
                            type="email"
                            class="form-control"
                            placeholder="Correo electrónico">
                    </div>

                </div>

                <div class="mb-3">

                    <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Mensaje"></textarea>

                </div>

                <button class="btn-contacto">
                    Enviar mensaje
                </button>

            </form>

        </div>

        <!-- ================= CONTACTO ================= -->

        <div class="contacts">

            <div class="contact-info">

                <div class="contact-item">

                    <div class="icon-circle">
                        <i class="fa-solid fa-envelope"></i>
                    </div>

                    <div>
                        <h5>Correo electrónico</h5>
                        <p>hola@alertamujer.com</p>
                    </div>

                </div>

                <div class="contact-item">

                    <div class="icon-circle">
                        <i class="fa-solid fa-phone"></i>
                    </div>

                    <div>
                        <h5>Teléfono</h5>
                        <p>+57 300 123 4567</p>
                    </div>

                </div>

                <div class="contact-item">

                    <div class="icon-circle">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>

                    <div>
                        <h5>Ubicación</h5>
                        <p>Bogotá, Colombia</p>
                    </div>

                </div>

            </div>

            <div class="contact-image">

                <img
                    src="logoContacts.png"
                    alt="Contacto">

            </div>

        </div>

    </div>

</div>