<div class="container-every">
    <footer class="footer">

        <div class="footer-container">
    
            <!-- Logo -->
            <div class="footer-brand">
    
                <div class="footer-logo">
    
                    <img src="./logo.png" alt="Logo">
    
                    <h3>Alerta Mujer</h3>
    
                </div>
    
                <p>
                    Tu seguridad es nuestra misión.<br>
                    Juntas somos más fuertes.
                </p>
    
            </div>
    
            <!-- Enlaces -->
    
            <div class="footer-links">
    
                <h4>Enlaces</h4>
    
                <a href="">Inicio</a>
    
                <a href="">Nosotros</a>
    
                <a href="">Servicios</a>
    
                <a href="">FAQ</a>
    
                <a href="">Contacto</a>
    
            </div>
    
            <!-- Legal -->
    
            <div class="footer-links">
    
                <h4>Legal</h4>
    
                <a href="">Política de Privacidad</a>
    
                <a href="">Términos y Condiciones</a>
    
                <a href="">Aviso Legal</a>
    
            </div>
    
            <!-- Redes -->
    
            <div class="footer-social">
    
                <h4>Síguenos</h4>
    
                <div class="social-icons">
    
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    
                </div>
    
            </div>
    
        </div>
    
        <hr>
    
        <p class="copyright">
    
            © 2025 Alerta Mujer. Todos los derechos reservados.
    
        </p>
    
    </footer>
</div>