<div class="navbar-container">
    <div class="nav-content">
        <div class="logo">
            <img src="assets/images/logo.png" alt="Logo">
            <span>Alerta Mujer</span>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">FQA</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="container-session">
            <button>Registrarse</button>    
            <button>Iniciar Sesión</button>
        </div>

    </div>

</div>