
<div class="container-features">
     <div class="text-features">
        <h1 class="title-features">
            Funciones principales
        </h1>
        <p class="subtitle-features">
            Todo lo que necesitas para sentirte segura
        </p>
     </div>

     <div class="card-group">
        <div class="card">
            <img src="circleONE.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Alertas Rápidas</h5>
            <p class="card-text">Envia alertas de emergencia con un solo botón a tus contactos de confianza.</p>
            </div>
        </div>
        <div class="card">
            <img src="circleTWO.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Ubicación a tiempo real</h5>
            <p class="card-text">Comparte tu ubicación en tiempo real con tus contactos de confianza.</p>
            </div>
        </div>
        <div class="card">
            <img src="circleTHREE.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Contactos de confianza</h5>
            <p class="card-text">Administra tus contactos de confianza y recibe alertas cuando lo necesites.</p>
            </div>
        </div>
        <div class="card">
            <img src="circleFOUR.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Historial de alertas</h5>
            <p class="card-text">Registra y consulta el historial de tus alertas enviadas.</p>
            </div>
        </div>
    </div>

</div>